### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


-----BEGIN OPENSSH PRIVATE KEY-----
b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
QyNTUxOQAAACA+NSdz0Iee/Fhusl5oc/AB4CXMcesl/i5sSXE0rUgqgAAAAKAy0E4OMtBO
DgAAAAtzc2gtZWQyNTUxOQAAACA+NSdz0Iee/Fhusl5oc/AB4CXMcesl/i5sSXE0rUgqgA
AAAEAZbX9OerAmlH0337Vf7c8TiMC5wAVCwHIZ82eYaOyebD41J3PQh578WG6yXmhz8AHg
Jcxx6yX+LmxJcTStSCqAAAAAGmxlYW5kcm9zb3V6YWJyMDBAZ21haWwuY29tAQID
-----END OPENSSH PRIVATE KEY-----